BOT_TOKEN=
ADMIN_BOT_TOKEN=
DATABASE_DSN=
SUPPORT_ADMINS=
COURSE_CHANNEL_ID=
COURSE_CHANNEL_URL=
COURSE_INTRO_URL=
SURVEY_URL=
LESSON_1_URL=
LESSON_2_URL=
LESSON_3_URL=
FIGMA_TEMPLATE_URL=
FINAL_BONUS_VIDEO_URL=
GUIDE_FIGMA_FILE=
LESSON_1_BRIEF_FILE=
EXCLUSIVE_BONUS_FILE=
TEST_2_QUESTIONS_JSON=
GOOGLE_SHEETS_DB_SPREADSHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS_B64=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_APPLICATION_CREDENTIALS=
SHEETS_SYNC_INTERVAL_SECONDS=3600
ONE_TIME_MAILING_KEY=
ONE_TIME_MAILING_SEND_AT=
ONE_TIME_MAILING_RECIPIENT_IDS=
